<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">grow your <b>Ideas</b> with us</p>
            <div class="row">
                {{!-- left wala section --}}
                 <div class="col-md-6 col-12 hero-text ">
                    <figure >
                        <img src="images/6308.jpg" alt="herosection_images" style=" width:100%;">
                    </figure>
                </div>
                 {{!-- right wala section --}}
               <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                    <h1>At Taaza Projects,</h1>
                    <h3>we are the catalysts for fresh ideas, transforming concepts into tangible realities.</h3>
                    <p>  Our passion is to display projects with creativity and precision, offering top-notch services that turn your vision into a remarkable success story.  <span class="bold-style">Explore the limitless potential of your ideas with us.</span></p>
                    <a href="https://www.linkedin.com/in/aryan-mittal-b83389231/"><button class="btn-style" style="width: 80%; color:#fff;">Read more</button></a>
                </div>
            </div>
        </div>
    </div>
   </div>